{% extends 'bidder/base.html' %}

{% block title %}
Welcome to SWEBAY
{% endblock title %}

{% block content %}
<h1>Welcome to SWEBAY</h1>
<p>Experience secure and seamless e-bidding!</p>

<!-- Add buttons or links to guide users -->
<div style="margin-top: 20px;">
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register_user' %}">Register</a>.</p>
    {% endif %}
</div>
{% endblock content %}
