{% extends 'bidder/base.html' %}
{% block content %}
    <div>
        <p>You have been suspended</p>
        <p>In order to lift the suspension, you must pay $50</p>
        <form method="post">
            {% csrf_token %}
            <button class="bg-blue-200 p-4">Pay</button>
        </form>
    </div>
    <div>
        <a href="{% url 'deposit_money' %}">
        <p>Add Funds</p>
        </a>
        <a href="{% url 'withdraw_money' %}"
        <p>Deposit Funds</p>
    </div>

{% endblock %}